<div class="main-container tarjeta">
    <div class="tittle-container">
        <div class="back-container" (click)="volverAtras()">
        <img src="assets/icons/flecha-izq-w.png" alt="">
    </div>
    <h3>UNIRSE A LIGA PRIVADA</h3>
    </div>
    <div class="form-container">
        <form>
            <div class="item">
                <h5>Codigo de la Liga</h5>
                <input type="text" placeholder="Introduce un código">
            </div>
            <div class="item codigo-item submit-b">
                <button type="submit">Unirse a liga</button>
            </div>
        </form>
    </div>
</div>

