.nav-container {
  background-color: var(--primary-grey);
  height: 5vh;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  color: white;
  font-size: larger;
  text-decoration: none;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  cursor: pointer;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 80%;
  background-color: var(--primary-green); 
}
