.budget-box-container {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    margin: auto;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.presupuesto-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 50%;
}

.label {
    font-size: 0.8rem;
    color: var(--background-grey);
    font-weight: bold;
    margin-bottom: 5px;
}

.value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background-grey);
}

.vertical-divider {
    width: 1px;
    height: 40px;
    background-color: #999;
}
