<div class="gen-container">
  <div class="nav-stat">
    <ul class="nav-stat-list">
      <li class="stat-item" [class.active]="filtroSeleccionado === 'goles'" (click)="cambiarFiltro('goles')">Goles</li>
      <li class="stat-item" [class.active]="filtroSeleccionado === 'asistencias'" (click)="cambiarFiltro('asistencias')">Asistencias</li>
      <li class="stat-item" [class.active]="filtroSeleccionado === 'porteria'" (click)="cambiarFiltro('porteria')">Portería</li>
      <li class="stat-item" [class.active]="filtroSeleccionado === 'tarjetas'" (click)="cambiarFiltro('tarjetas')">Tarjetas</li>
      <li class="stat-item" [class.active]="filtroSeleccionado === 'equipo'" (click)="cambiarFiltro('equipo')">Mi equipo</li>
    </ul>
  </div>

  <div class="market-list">
    <div *ngFor="let jugadora of jugadoras" class="player-row">
      
      <div class="section left">
        <span class="pos-text" [attr.data-pos]="jugadora.posicion">{{ jugadora.posicion }}</span>
        <div class="img-wrapper">
          <img [src]="'http://localhost:3000/' + jugadora.foto_jugadora" class="player-photo">
          <img [src]="'http://localhost:3000/' + jugadora.foto_escudo" class="team-shield">
        </div>
        <span class="player-name" [routerLink]="['/jugadora', jugadora.id_jugadora]">{{ jugadora.apodo }}</span>
      </div>

      <div class="section center" *ngIf="filtroSeleccionado !== 'equipo'">
        <div class="info-item">
          <span class="value"><label class="stat-label" >Valor: </label> {{ jugadora.valor_actual | number:'1.0-0' }}€</span>
          <span [ngClass]="jugadora.tendencia >= 0 ? 'trend up' : 'trend down'">
             {{ jugadora.tendencia >= 0 ? '▲' : '▼' }}{{ jugadora.tendencia | number:'1.0-0' }}%
          </span>
        </div>
        <div class="info-item">
          <span class="owner-status" [ngClass]="{'has-owner': jugadora.propietario}">
            <label class="stat-label">Propietario: </label> {{ jugadora.propietario ? jugadora.propietario : 'libre' }}
          </span>
        </div>
      </div>

      <div class="section right">
        
        <div *ngIf="filtroSeleccionado === 'goles' || filtroSeleccionado === 'asistencias'" class="stat-box">
          <span class="stat-label">{{ filtroSeleccionado === 'goles' ? 'Goles: ' : 'Asistencias: ' }}</span>
          <span class="stat-value">{{ jugadora.valor_estadistico }}</span>
        </div>

        <div *ngIf="filtroSeleccionado === 'porteria'" class="stat-porteria">
          <div class="sub-stat"><span><label class="stat-label">G.Encajados: </label> {{ jugadora.goles_encajados }}</span></div>
          <div class="divider"></div>
          <div class="sub-stat"><span><label class="stat-label">Porterías a 0: </label>{{ jugadora.porterias_cero }}</span></div>
        </div>

        <div *ngIf="filtroSeleccionado === 'tarjetas'" class="stat-cards">
          <div class="card-item"><span class="card yellow"></span>: {{ jugadora.amarillas }}</div>
          <div class="card-item"><span class="card red"></span>: {{ jugadora.rojas }}</div>
        </div>

        <div *ngIf="filtroSeleccionado === 'equipo'" class="stat-team-row">
        <div class="stat-item-mini"><label>PJ: </label><span>{{ jugadora.partidos_jugados }}</span></div>
        <div class="stat-item-mini"><label>Goles: </label><span>{{ jugadora.goles }}</span></div>
        <div class="stat-item-mini"><label>Asist: </label><span>{{ jugadora.asistencias }}</span></div>
        <div class="stat-item-mini"><label>VM:   </label><span>{{ jugadora.valoracion_media }}</span></div>
        <div class="stat-item-mini highlight"><label>PM: </label><span>{{ jugadora.puntos_media }}</span></div>
      </div>

      </div>
    </div>
  </div>
</div>