<div class="gen-container">
    <div class="banner">
        <div class="logo-container">
            <img src="../../assets/logogray.png" alt="" (click)="goHome()">
        </div>
        <div class="profile-container">
            <div class="profile-wrapper" (click)="toggleDropdown()">
                <img src="../../assets/default-profile.png" alt="Foto de perfil">
                    
                <ul class="dropdown-menu" [class.show]="dropdownOpen">
                    <li (click)="goToProfile()">Mi perfil</li>
                    <li (click)="goToNotifications()">Notificaciones</li>
                    <li (click)="logout()">Salir</li>
                 </ul>
            </div>
        </div>
    </div> 
    <app-navigator  [activeItem]="visualNav" (visualNav)="showComponent($event)"></app-navigator>
    <div class="component-box">
       
        <app-home *ngIf="visualNav === 'inicio'"></app-home>
        <app-market *ngIf="visualNav === 'mercado'"></app-market>
        <app-team *ngIf="visualNav === 'equipo'"></app-team>
        <app-stats *ngIf="visualNav === 'estadisticas'"></app-stats>
        <app-league *ngIf="visualNav === 'liga'"></app-league>
        <app-more *ngIf="visualNav === 'mas'"></app-more> 
    </div>
    
</div>
