.gen-container {
    background-color: var(--background-grey);
    height: 100%;
}

.banner{
    background-color: var(--light-grey);
    height: 10vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container{
    width: 50%;
    padding-left: 30px;
}

.logo-container img {
    height: 10vh;
    cursor: pointer;
}

.profile-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10vh;
    padding-right: 50px;
}

.profile-container img {
    height: 8vh;
    border-radius: 50%;
    border: 2px solid #9c9c9c;
}


.profile-wrapper {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 7.5vh;
  right: 50px;
  background-color: #646464;
  border: 2px solid var(--primary-green);
  color:var(--light-grey);
  font-size: larger;
  border-radius: 6px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 170px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  z-index: 100;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #828282;
  color: var(--primary-green);
}

.component.box {
  min-height: 98%;
 
}