<div class="gen-container">
    <div class="banner">
        <div class="logo-container">
            <img src="../../assets/logogray.png" alt="" (click)="goHome()">
        </div>
        <div class="profile-container">
            <div class="profile-wrapper" (click)="toggleDropdown()">
                <img class="img-p" [src]="profileImagePreview" alt="Foto de perfil">

                <div *ngIf="unreadNotifications > 0" class="badge-dot"></div>
                    
                <ul class="dropdown-menu" [class.show]="dropdownOpen">
                    <li (click)="goToProfile()">Mi perfil</li>
                    <li (click)="goToNotifications()">Notificaciones
                        <span *ngIf="unreadNotifications > 0" class="badge-number">{{ unreadNotifications }}</span>
                    </li>
                    <li (click)="logout()">Salir</li>
                 </ul>
            </div>
        </div>
    </div> 
    <app-navigator  [activeItem]="visualNav" (visualNav)="showComponent($event)"></app-navigator>

    <app-budget-box 
        *ngIf="visualNav !== 'mas'" 
        [presupuesto]="presupuesto" 
    [valorTotal]="valorTotal">
    </app-budget-box>

    
    <div class="component-box">
       
        <app-home *ngIf="visualNav === 'inicio'"></app-home>
        <app-market *ngIf="visualNav === 'mercado'"></app-market>
        <app-team *ngIf="visualNav === 'equipo'"></app-team>
        <app-stats *ngIf="visualNav === 'estadisticas'"></app-stats>
        <app-league *ngIf="visualNav === 'liga'"></app-league>
        <app-more *ngIf="visualNav === 'mas'"></app-more> 
    </div>
    
</div>
