<div class="outside-box">
    <div class="banner">
            <div class="logo-container">
                <img src="../../assets/logogray.png" alt="" (click)="goHome()">
            </div>
    </div>
    <div class="gen-container">
        <div class="back-icon-container">
            <img src="../../../../assets/icons/flecha-izq-w.png" alt="" (click)="goHome()">
        </div>
        <div class="main-container">
            <div class="profile-box">
                <div class="pic-mid">
                    <div class="img-box">
                        <img src="../../../../assets/default-profile.png" alt="">
                    </div>
                    <div class="change-box">
                        Cambiar foto de perfil
                    </div>
                </div>
                <div class="data-mid">
                    <div class="inputs-profile">
                        <input type="text" class="username" placeholder="username">
                        <input type="text" class="nombre" placeholder="nombre">
                        <input type="text" class="email" placeholder="email">
                        <p class="pass-change">Cambiar contraseña</p>
                    </div>
                    <div class="save-button">Guardar</div>

                </div>
            </div>
        </div>
        <div class="bottom-box">
            <div class="borrar-perfil-button">Borrar Perfil</div>
        </div>
    </div>
</div>