<div class="outside-box">
    <div class="banner">
            <div class="logo-container">
                <img src="../../assets/logogray.png" alt="" (click)="goHome()">
            </div>
    </div>
    <div class="gen-container">
        <div class="back-icon-container">
            <img src="../../../../assets/icons/flecha-izq-w.png" alt="" (click)="goHome()">
        </div>
        <div class="main-container">
            <div class="profile-box">
                <div class="pic-mid">
                    <div class="img-box">
                        <img src="../../../../assets/default-profile.png" alt="">
                    </div>
                    <div class="change-box">
                        Cambiar foto de perfil
                    </div>
                </div>
                <div class="data-mid">
                    <form class="inputs-profile" >
                        <div class="input-group">
                            <label for="username">Username</label>
                            <input name="username" id="username" [(ngModel)]="activeUserData.username" type="text" class="username" placeholder="username">
                        </div>

                        <div class="input-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" id="nombre" [(ngModel)]="activeUserData.nombre" type="text" class="nombre" placeholder="nombre">
                        </div>

                        <div class="input-group">
                            <label for="email">Email</label>
                            <input name="email" id="email" [(ngModel)]="activeUserData.email" type="text" class="email" placeholder="email">
                        </div>
                        <p class="pass-change">Cambiar contraseña</p>
                    </form>
                    <div class="save-button" (click)="update()">Guardar</div>

                </div>
            </div>
        </div>
        <div class="bottom-box">
            <div class="borrar-perfil-button">Borrar Perfil</div>
        </div>
    </div>
</div>