<div class="outside-box">
    <div class="banner">
            <div class="logo-container">
                <img src="../../assets/logogray.png" alt="" (click)="goHome()">
            </div>
    </div>
    <div class="gen-container">
        <div class="back-icon-container">
            <img src="../../../../assets/icons/flecha-izq-w.png" alt="" (click)="goHome()">
        </div>
        <div class="main-container">
            <div class="profile-box">
                <div class="pic-mid">
                    <div class="img-box">
                        <img  [src]="profileImagePreview" alt="">
                    </div>
                    <input 
                        type="file"  
                        style="display: none" 
                        #fileInput
                        (change)="onFileSelected($event)"
                        accept="image/*"
                    >
                    <div class="change-box" (click)="fileInput.click()">
                        Cambiar foto de perfil
                    </div>
                </div>
                <div class="data-mid">
                    <form class="inputs-profile" >
                        <div class="input-group">
                            <label for="username">Username</label>
                            <input name="username" id="username" [(ngModel)]="activeUserData.username" type="text" class="username" placeholder="username">
                        </div>

                        <div class="input-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" id="nombre" [(ngModel)]="activeUserData.nombre" type="text" class="nombre" placeholder="nombre">
                        </div>

                        <div class="input-group">
                            <label for="email">Email</label>
                            <input name="email" id="email" [(ngModel)]="activeUserData.email" type="text" class="email" placeholder="email">
                        </div>
                        <p class="pass-change" (click)="changePasswordCross()" >Cambiar contraseña </p>
                    </form>
                    <div class="save-button" (click)="update()">Guardar</div>

                </div>
            </div>
        </div>
        <div class="bottom-box">
            <div class="borrar-perfil-button" (click)="openDeleteModal()">Borrar Perfil</div>
        </div>
    </div>
</div>

<div class="cropper-modal" *ngIf="showCropper">
  <div class="cropper-content">

    <div class="cropper-circle">
      <img 
        [src]="tempImage"
        class="crop-img"
        draggable="false"
        (mousedown)="startDrag($event)"
        [style.transform]="
            'translate(' + posX + 'px,' + posY + 'px) ' +
            'scale(' + scale + ')'
        "
        [style.transform-origin]="'center center'"
        >
    </div>

    <div class="crop-controls">
      <input type="range" min="1" max="3" step="0.01" [(ngModel)]="scale">
      <button class="ok-btn" (click)="applyCrop()">Recortar</button>
      <button class="cancel-btn" (click)="cancelCrop()">Cancelar</button>
    </div>

  </div>

  
</div>
<div class="pass-modal" *ngIf="showPassPopUp">
  <div class="pass-content">
    <div class="img-back-cont">
      <img (click)="changePasswordCross()" src="../../../../assets/icons/flecha-izq-w.png" alt="">
    </div>
    <form action="" class="pass-form">
      <div class="pass-input">
        <label for="old">Antigua contraseña</label>
        <input type="password" name="oldPassword" id="oldPassword" [(ngModel)]="oldPassword">
      </div>
      <div class="pass-input">
        <label for="new">Nueva contraseña</label>
        <input type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword"
               [style.border]="repPassword && newPassword !== repPassword ? '1px solid red' : ''">
      </div>
      <div class="pass-input">
        <label for="rep">Repite la contraseña</label>
        <input type="password" name="repPassword" id="repPassword" [(ngModel)]="repPassword"
               [style.border]="repPassword && newPassword !== repPassword ? '1px solid red' : ''">
      </div>

      <!-- Mensaje de error -->
      <p *ngIf="repPassword && newPassword !== repPassword" class="error-message">
        Las contraseñas no coinciden
      </p>

      <div (click)="changePassword()" class="passbutton" [attr.disabled]="repPassword && newPassword !== repPassword ? true : null">Guardar</div>
    </form> 
  </div>
</div>

<div class="pass-modal" *ngIf="showDeletePopUp">
  <div class="pass-content delete-modal-content">
    <div class="delete-warning-icon">⚠️</div>
    <h2>¿Eliminar cuenta?</h2>
    <p class="delete-text">
        Esta acción es <b>irreversible</b>. Perderás tu equipo, tus jugadoras y tu progreso en la liga.
    </p>
    
    <div class="modal-actions-delete">
      <div class="cancel-btn-delete" (click)="closeDeleteModal()">Cancelar</div>
      <div class="confirm-btn-delete" (click)="confirmDelete()">Eliminar para siempre</div>
    </div>
  </div>
</div>
