<div class="main-container">
    <div class="tittle-container">
        <h3>AÑADIR UNA LIGA
        </h3>
    </div>
    <div class="buttons-container">
            <button (click)="addToRandomLeague()"><h5>Unirse a liga aleatoria</h5><img src="assets/icons/flecha-der.png" alt=""></button>
            
            <button (click)="addToPrivateLeague()"><h5>Unirse a liga privada</h5><img src="assets/icons/flecha-der.png" alt=""></button>
            
            <button (click)="createLeague()"><h5>Crear una liga</h5><img src="assets/icons/flecha-der.png" alt=""></button>
    </div>
</div>
