.market-container {
  background-color: var(--background-grey);
  padding: 20px;
  margin-top: 20px;
  min-height: 100vh;
}

.market-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.player-row {
  background-color: #444444; 
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.pos-text {
  font-weight: bold;
  color: #aaa;
  min-width: 35px;
}

.img-container {
  position: relative;
  height: 70px;
  width: 70px;
}

.player-photo {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.team-shield {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
}

.player-name {
  font-weight: 500;
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

.middle-section {
  display: flex;
  flex: 2;
  justify-content: space-around;
  font-size: 0.9rem;
}

.info-group, .bid-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label { color: #999; margin-right: 5px; }
.value { font-weight: bold; }
.owner-status { color: white; }

.current-bid {
  color: #44ff00; 
  font-weight: bold;
  font-size: 1.1rem;
}

.trend.up { color: #44ff00; font-size: 0.7rem; margin-left: 5px; }

.btn-pujar {
  background-color: #44ff00; 
  color: var(--background-grey);
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 900;
  font-family: 'Roboto';
  cursor: pointer;
  box-shadow: 0 0 10px rgba(68, 255, 0, 0.2);
}

.btn-pujar:hover {
  background-color: #3ce600;
}