<div class="main-container">
    <div class="front-box" id="inicio">
        <div class="navbar">
            <div class="nav-list">
                <ul>
                    <li class="item"><a href="#equipos">Equipos</a></li>
                    <li class="item"><a href="#reglas">Reglas</a></li>
                    <li class="item"><a href="#contact">Nosotros</a></li>
                </ul>
            </div>
            <div class="title-nav-box">
                <a href="#inicio"><img src="assets/logowhite.png" alt=""></a>
            </div>
            <div class="button-nav-box">
                <button (click)="displayRegister()">Crear cuenta</button>
            </div>
        </div>
        <div class="video-box">
            <video #videoPlayer autoplay muted loop poster="assets/fakevideo.png">
                <source src="assets/video.mp4" type="video/mp4"/>
            </video>
            <button *ngIf="showPlayButton" class="jugar-button" (click)="onPlay()"> Jugar </button>
            <app-login *ngIf="showLogin" class="login-component"(cerrarModal)="showLogin = false; showPlayButton = true " (abrirRegist)="showLogin = false; showRegister = true"></app-login>
            <app-register *ngIf="showRegister" class="login-component" (cerrarModal)="showRegister = false; showPlayButton = true" (mostrarLog)="showRegister = false; showLogin = true" ></app-register>
        </div>
    </div>
    <div class="equipos-box" id="equipos">
        <h1 class="equipos-tittle">Equipos</h1>
        <div class="equipos-list-box">
            <div class="equipos-list">
                <div class="equipo">
                    <h5>Athletic Club</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/athletic.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Atlético de Madrid</h5>
                    <div class="escudo-container">
                       <img src="assets/escudos/atletico.png" alt="" class="escudo"> 
                    </div>
                </div>
                <div class="equipo">
                    <h5>F.C. Barcelona</h5>
                    <div class="escudo-container">
                      <img src="assets/escudos/barcelona.png" alt="" class="escudo">  
                    </div>
                </div>
                <div class="equipo">
                    <h5>Deportivo Abanca</h5>
                    <div class="escudo-container">
                       <img src="assets/escudos/deportivo.png" alt="" class="escudo"> 
                    </div>
                </div>
                <div class="equipo">
                    <h5>S.D. Eibar</h5>
                    <div class="escudo-container">
                       <img src="assets/escudos/eibar.png" alt="" class="escudo"> 
                    </div>
                </div>
                <div class="equipo">
                    <h5>R.C.D. Espanyol</h5>
                    <div class="escudo-container">
                      <img src="assets/escudos/espanyol.png" alt="" class="escudo">  
                    </div>
                </div>
                <div class="equipo">
                    <h5>Granada</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/granada.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Levante U.D.</h5>
                    <div class="escudo-container">
                      <img src="assets/escudos/levante.png" alt="" class="escudo">  
                    </div>
                </div>
            </div>
            <div class="equipos-list">
                <div class="equipo">
                    <h5>Levante Badalona</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/levantebadalona.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Madrid C.F.F</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/madridcff.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Real Betis</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/betis.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Real Madrid C.F.</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/realmadrid.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Real Sociedad</h5>
                    <div class="escudo-container">
                       <img src="assets/escudos/realsociedad.png" alt="" class="escudo"> 
                    </div>
                </div>
                <div class="equipo">
                    <h5>Sevilla F.C.</h5>
                    <div class="escudo-container">
                       <img src="assets/escudos/sevilla.png" alt="" class="escudo"> 
                    </div>
                </div>
                <div class="equipo">
                    <h5>U.D.G. Tenerife</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/tenerife.png" alt="" class="escudo">
                    </div>
                </div>
                <div class="equipo">
                    <h5>Valencia C.F.</h5>
                    <div class="escudo-container">
                        <img src="assets/escudos/valencia.png" alt="" class="escudo">
                    </div>
                </div>
        </div>
        </div>
        
    </div>
    <div class="reglas-box" id="reglas">
        <h1 class="reglas-tittle">Reglas</h1>
        <div class="reglas-list">
            <div class="regla">
                <div class="step">
                    <img src="assets/icons/steps/1green.png" alt="">
                </div>
                <h6 class="regla-text"><b>Crea tu equipo ideal</b> <br> Elige a tus jugadoras favoritas dentro del presupuesto disponible y completa una plantilla con portera, defensas, centrocampistas y delanteras. ¿Apostarás por estrellas consolidadas o invertirás en jóvenes promesas?
                <br>
                Podrás adquirir nuevas jugadoras pujando en el mercado o comprándoselas a otros usuarios en tu liga. Cubre todas las posiciones y acumula todos los puntos que puedas.
                </h6>
            </div>
             <div class="regla">
                <div class="step">
                    <img src="assets/icons/steps/2green.png" alt="">
                </div>
                <h6 class="regla-text"><b>Puntúa según el rendimiento real</b><br> Consigue los máximos puntos posibles cada jornada según el desempeño real de tus jugadoras en la liga. Alinea, rota o sienta según tu intuición y conveniencia. Sé estratégico.</h6>
            </div>
             <div class="regla">
                <div class="step">
                    <img src="assets/icons/steps/3green.png" alt="">
                </div>
                <h6 class="regla-text"><b>Domina el mercado</b> <br>Utiliza tu presupuesto de manera inteligente. Compra, vende, puja o incluso roba jugadoras a otros usuarios para competir tu equipo en el más completo de la liga. Maximiza tu puntuación con traspasos certeros. <br>
                    El valor de una jugadora viene dado por sus estrellas de fama, pero es modificado jornada a jornada según sus actuaciones. Podrás poner una cláusula a tus jugadoras que no superen en más de un 40% su valor actual.
                </h6>
            </div>
             <div class="regla">
                <div class="step">
                    <img src="assets/icons/steps/4green.png" alt="">
                </div>
                <h6 class="regla-text"><b>Compite en ligas</b> <br>Participa en ligas públicas con usuarios al azar o crea una liga privada junto a tus amigos. Demuestra quién sabe más de fútbol y hazte con la victoria.</h6>
            </div>
             <div class="regla">
                <div class="step">
                    <img src="assets/icons/steps/5green.png" alt="">
                </div>
                <h6 class="regla-text"><b>Actualización automática</b><br> Los puntos, estadísticas y valores de tu equipo y tus jugadoras se actualizarán automáticamente al final de cada jornada. Podrás ver tu progreso en tiempo real.
                <br>
                Revisa el estado de la competición desde el ranking de la liga o la página de inicio. Controla a tus adversarios y sus plantillas</h6>
            </div>
        </div>
    </div>
    <div class="contact-box" id="contact">
        <div class="mail-box">
            <h5>Contacta con nosotros a través de nuestro mail: <p>fantasyf&#64;gmail.com</p></h5>
            
        </div>
        <div class="redes-box">
            <h5>Puedes encontrarnos en:</h5>
            <p> · TikTok: &#64;fantasyf  · Twitter: &#64;fantasyf</p>
        </div>
    </div>
</div>
