<div class="gen-container">
    <div class="options-container">
        <div class="button-div" (click)="consultarReglas()">
            <div class="text-div">Consultar reglas</div>
            <div class="icon-div"><img src="../../../assets/icons/flecha-der-ver.png" alt=""></div>
        </div>
        <div class="button-div" (click)="verCalendario()">
            <div class="text-div">Calendario</div>
            <div class="icon-div"><img src="../../../assets/icons/flecha-der-ver.png" alt=""></div>
        </div>
        <div class="button-div" (click)="cambiarLiga()">
            <div class="text-div">Cambiar liga</div>
            <div class="icon-div"><img src="../../../assets/icons/flecha-der-ver.png" alt=""></div>
        </div>
        <div class="button-div roj" (click)="abandonarLiga()">
            <div class="text-div">Abandonar liga</div>
            <div class="icon-div"><img src="../../../assets/icons/flecha-der.png" alt=""></div>
        </div>
        <div class="button-div roj" (click)="cerrarSesion()">
            <div class="text-div">Cerrar sesión</div>
            <div class="icon-div"><img src="../../../assets/icons/flecha-der.png" alt=""></div>
        </div>
    </div>
</div>
