.gen-container { 
  justify-content: center;
  width: 100vw;
  display: flex;
  min-height: 85vh;
}

.options-container {
  width: 20vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}

.button-div {
  width: 90%;
  background-color: #4A4A4A;
  color: #66D425;
  border-radius: 5px;
  height: 7vh;
  margin: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-div:hover {
  background-color: #5C5C5C;
}

.button-div.roj {
  background-color: rgb(187, 22, 22);
  color: black;
  font-weight: bolder;
}

.button-div.roj:hover {
  background-color: rgb(220, 50, 50);
}

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: larger;
  padding-left: 15%;
}

.icon-div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div img {
  height: 50px;
  width: auto;
}

/* reglassss */

.arrow-back-container
{
  height: 8vh;
  margin-top: -5vh;
}

.arrow-back-container img {
  height: 4vh;
  padding-top: -10vh;
  margin-left: -8vw;
  margin-bottom: -18vh;
}

.arrow-back-container img:hover{
  cursor: pointer;
}
.rules-container
{
  margin-bottom: 10vh;
}

.reglas-list {
  width: 70%;
  justify-self: center;
  overflow-x: hidden;
  max-width: 1400px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7vh;
   margin-top: 7vh;
 
}

.regla {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.step {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin: 8px;
  
}

.step img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.regla-text {
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1.6;
  color: #1a1a1a;
  text-align: justify;
  margin: 0;
}

.regla-text {
  font-weight: normal;
}

.gen-container.active{
  background-color: #d9d9d9;
  overflow-x: hidden;
  width: 100%;
}

.rules-tittle {
  margin-top: 10vh;
}

